body {
    background-color: rgb(57, 57, 72);
}

body a {
    text-decoration: none;
}

body .div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body section div img {
    width: 200px;
}

.btn {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn:hover::before {
    width: 9em;
}


.titulo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    margin-top: 50px;
}

header div {
    display: flex;
    justify-content: center;
}

header div img {
    width: auto;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: min-content;*/
    column-gap: 1.2rem;
    row-gap: 1.2rem;
    padding: 0 1rem 2.5em 1rem;
    background-color: rgb(57, 57, 72);
}

#grid div h3 {
    font-size: 30px;
    color: #0fd850;
}

#grid div p {
    font-size: 17px;
    color: rgb(158, 156, 152);
}

section a {
    text-decoration: none;
}

#grid a:hover {
    padding: 2px;
    margin: 0 2px;
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    background-image: url(./img/fondo.png);
    text-align: center;
    border-radius: 10px;
}

#grid .grid-item h2 {
    color: white;
    z-index: 10;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    text-overflow: ellipsis;
}


@media (max-width: 650px){
#grid {
    grid-template-columns: 1fr;
}
}

header {
	width:100%;
}

.botones {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}